* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-dark: rgb(44, 64, 7);
    --background-light: rgb(170, 205, 105);
    --font-color: #000000;
}

html, body {
    background: linear-gradient(to right, var(--background-dark), var(--background-light));
    color: var(--font-color);

    height: 100%;
    overflow: hidden; /* Remove as barras de rolagem */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    width: 100vw; /* Ocupa toda a largura da viewport */
    height: 100vh; /* Ocupa toda a altura da viewport */
    gap: 5vw; /* Espaço flexível entre img-container e data-container */
}

.img-container {
    position: relative;
    flex: 1;
    max-width: 33.33vw; /* Limita a largura a 1/3 da tela */
    height: 100%; /* Ocupa toda a altura */
}

#background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir o container sem distorcer */
}

.logo {
    position: absolute;
    top: 70%; 
    left: 50%;
    transform: translateX(-50%);
    max-width: 30%; /* Ajusta o tamanho do logo para ser responsivo */
    height: auto;
}

.data-container {
    flex: 2;
    max-width: 66.67vw; /* Limita a largura a 2/3 da tela */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10vw;
    gap: 15px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: space-between;

}

.form-container div {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input, button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    background-color: var(--background-dark);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8%;
    width: 50%;
    font-weight: bold;
}

button:hover {
    background-color: var(--background-light);
    color: var(--font-color)
}

h1 {
    font-size: 3vh;
    margin-bottom: 20px;
    color: #000000;
}

input::placeholder {
    color: var(--font-color);
}

input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave ao redor do input em foco */
    outline: none; /* Remove o outline padrão para evitar sobreposição */
}

input:invalid:focus {
    border-color: #ff1a1a; /* Mantém a borda vermelha em inputs inválidos */
    background-color: #ffe6e6;
    color: #000000;
    box-shadow: 0 0 5px rgba(255, 26, 26, 0.5); /* Sombra mais forte em campos inválidos */
}

input:valid:focus {
    border-color: #28a745; /* Mantém a borda verde em inputs válidos */
    background-color: #e6ffe6;
    color: #000000;
    box-shadow: 0 0 5px var(--background-light); /* Sombra suave com tonalidade verde em campos válidos */
}
p {
    color: var(--font-color);
    font-weight: bold;
}
.login {
    color: var(--background-dark);
}